In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(-5, 5, 100)
#print(x)
y = 1./(1+np.exp(-x))
plt.plot(x, y)
plt.axvline(x=0, color='k')
plt.axhline(y=0, color='k')
plt.title("sigmoid")
plt.xlabel('x', fontsize=30)
plt.ylabel('y', fontsize=30, rotation=False)

# hello world
## hello world

$f(x)=\frac{1}{1+e^{-x}}$

In [17]:
?str.replace()

In [34]:
import pandas as pd
df = pd.DataFrame(np.array([1, 3 ,3 ,4,5,6,7,8]).reshape(2,4))
df.T

   0  1
0  1  5
1  3  6
2  3  7
3  4  8